/* ------------------------------------------------------------------------------------------------------------------ */
/* Background color and font */
body {
    background: #EEE;
    font-family: 'RobotoDraft', sans-serif;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Toolbar */
paper-toolbar {
    background: #607D8B;
    color: white;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Content */
div.content {
    padding: 20px;
}

